#app-error{

    font-size:1.5rem
}


body{
    height:100%;
    width:100%;
}


.size{
    font-size: 1.5rem;
}
#app-background{

    height:100vh;


    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: yellow;
}


#note{

    font-size: 1.2rem;
    font-family: monospace;

    text-align: center;
}

#summary{

    text-align: center;
    font-size:1.5rem;
}